<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <%- include('fragment-header.ejs') %>
    <br/>
    <p>Name: <%= name %></p>
    <br/>
    <%- include('fragment-footer.ejs') %>
  </body>
</html>
